.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 96%;
  max-width: 1500px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  animation: fadeDown 0.5s ease-in-out;

}
  .logo {
    height: 40px;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  .nav-links a {
    position: relative;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  .nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0%;
    background-color: #f39c12;
    transition: width 0.3s ease;
  }
  .nav-links a:hover::after {
    width: 100%;
  }
  .nav-links a:hover,
  .nav-links a.active {
    color: #f39c12;
  }
  .nav-links a.active::after {
    width: 100%;
  }
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 25px;
  }
  .menu-icon .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: 0.3s;
  }
  .menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  @media (max-width: 768px) {
    body{
      overflow-x: hidden;
        display: flex;
      flex-wrap: wrap;
    
    }
    .nav-links {
      
      overflow-x: hidden;
      position: fixed;
      top: 50px;
      right: -100%;
      width: 200px;
      height: calc(100vh - 64px);
      background-color: #fff;
      flex-direction: column;
      gap: 1.5rem;
      padding: 2rem;
      box-shadow: -2px 0 10px rgba(0,0,0,0.1);
      transition: right 0.3s ease-in-out;
    }
    .nav-links.open {
      right: 0;
    }
    .menu-icon {
      display: flex;
    }
  }